marquee{
	color:white;
	background: black;
	font-size: 50px;
}

h1{
	color: white;
	background :;

}

.container .jumbotron {
	background-color: yellow;
	background :url(https://image.winudf.com/v2/image/Y29tLnJveWFsY2hhbGxlbmdlcnMuYW5kcm9pZF9zY3JlZW5fMV8xNTI0MjU4NDY3XzA4OA/screen-1.jpg?fakeurl=1&type=.jpg);
	background-repeat: no-repeat;
	background-size: 80%;

}

.container{
	background:url(https://image.winudf.com/v2/image/Y29tLnJveWFsY2hhbGxlbmdlcnMuYW5kcm9pZF9zY3JlZW5fMV8xNTI0MjU4NDY3XzA4OA/screen-1.jpg?fakeurl=1&type=.jpg);
}

h3,p {
	color:white;
}

h2{
	color: black;
	background:red;
	font-size: 40px;
	align: center;
}