<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>CricketerDetails</title>
	<link rel="stylesheet" type="text/css" href="{% static "cricketerapp/css/display.css" %}">
</head>
<body>

	<h1>Details of all the Players</h1>

	{% if cricketer_data %}
		<table border="10">
			<tr>
				<th>Name</th>
				<th>DOB</th>
				<th>Address</th>
				<th>Department</th>
			</tr>

			{% for data in cricketer_data  %}
				<tr>
					<td>{{ data.name }}</td>
					<td>{{ data.dob }}</td>
					<td>{{ data.address }}</td>
					<td>{{ data.department }}</td>

				</tr>
				
			{% endfor %}

		</table>
	{% else %}
		<h1>NO DATA TO DISPLAY</h1>
		
	{% endif %}



</body>
</html>