<!DOCTYPE html>
<html>
<head>
	<title>Aggregate</title>
</head>
<body >
	<div class="divbody" align="center">
	<h1 style="color:white; background:black;">Aggregate functions in Django</h1>
		<table>
			<tr>
				<td>Average Salary :</td>
				<td>{{ avg }}</td>
			</tr>
			<tr>
				<td>Maximum Salary :</td>
				<td>{{ max }}</td>
			</tr>
			<tr>
				<td>Minimum Salary :</td>
				<td>{{ min }}</td>
			</tr>
			<tr>
				<td>Total Salary :</td>
				<td>{{ sum }}</td>
			</tr>
			<tr>
				<td>Count Salary :</td>
				<td>{{ count }}</td>
			</tr>
						
			
		</table>
		</div>

</body>
</html>