<!DOCTYPE html>
<html>
<head>
	<title>Home </title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</head>
<style type="text/css">
	.jumbotron{
		background:white; 
		margin-top: 30px;
		margin-left: 40px;
		margin-right: 40px;
		
		
	}
	body{
		background-color: grey;

	}
	h1{
		color: black;
	}
	marquee{
		color: white;
		background: black;
		font-size: 50px;

	}

</style>
<body>
<marquee>Logical Operation in Django</marquee>
<div class="body" align="center">
	<div class="jumbotron">
 	 <h1 class="display-4">Hello, User!</h1>
  		<p class="lead">Welcome to our Application.</p>
  			<hr class="my-4">
  		<p>This application helps you perform Logical operation on Employee Data .</p>
  		<p class="lead">
  		  <a class="btn btn-primary btn-lg" href="/or/" role="button">Perform OR</a>&nbsp&nbsp&nbsp&nbsp
  		  <a class="btn btn-primary btn-lg" href="/and/" role="button">Perform AND</a>&nbsp&nbsp&nbsp&nbsp
  		  <a class="btn btn-primary btn-lg" href="/not/" role="button">Perform NOT </a>
 		 </p>
 		 
		</div>
</div>


</body>
</html>