body{

	background: url(https://image.freepik.com/free-photo/working-with-laptop-computer-cactus-copyspace-table-background-top-view-business-concept_34933-310.jpg);
	background-repeat: no-repeat;
	background-size: 1250px 550px;


}

h1{
	color: white;
	background-color: black;
}