<!DOCTYPE html>
{% extends "courseapp/homebase.html" %}
	{% block body_home %}
	<style type="text/css">
		.jumbotron .container{
			margin:50px;
			padding: 100px;
		}
	</style>
	<div class="jumbotron">
		<div class="container" align="center">
			<h1>Thanks for Spending your quality of time with Study Online</h1>
			<h2>Please visit again</h2>

			<h2>Please login again by clicking login button</h2>
			<a href="/accounts/login/" class="btn btn-primary">Login</a>
		</div>
	</div>    
	{% endblock body_home %}